html, body, #root{
  height: 100%;
  margin:0px;
}

.App {
  /* text-align: center; */
  height: 100%;
  background-color: black;
  color:goldenrod
}

.Gameboard{
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: space-around;  
  font-size: 2rem;
}

.player-info-container{
  /* margin-top: auto; */
  display: flex;
  flex-direction: row;
  background-color: blue;
}


.player-info{
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.player-info.is-current{
  background-color: greenyellow;
}


.player-score{
  margin-left: 2rem;
  color: white;
}

.TopicRow{ 
  display: flex; 
  justify-content: space-around;  
  text-align: center;
  /* border-style: solid;
  border-width: 1px;
  border-color: tomato; */
}

.TopicRow > .Topic{
  flex: 2;
  /* border-style: solid;
  border-width: 1px;
  border-color: tomato; */
}

.TopicRow > .Cell{
  flex: 1;
  /* border-style: solid;
  border-width: 1px;
  border-color: tomato; */
}

.Question{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  font-size: 5rem;
}

.content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.player-action-container{
  /* margin-top: auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: blue;
}


.player-action{
  font-size: 1rem;
  display: flex;
}

.pa-button{
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;

  width:5vmin;
  height: 5vmin;
}

.Registration{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.Registration > a{
  color: goldenrod;
  text-decoration: none;
}

.plus-img{
   width:20vmin;
   height: 20vmin;
   cursor: pointer;
}

.minus-img{
  width:5vmin;
  height: 5vmin;
  margin: 0.5rem;
  cursor: pointer;
}

.disabled{
  opacity: 0.5;
}

.player-input{
  display: flex;
  align-items: center;
}

.Cell{
  cursor: pointer;
}

.Cell > a{
  color: goldenrod;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
