html, body, #root{
  height: 100%;
  margin:0px;
}

.App {
  /* text-align: center; */
  height: 100%;
  background-color: black;
  color:goldenrod
}

.Gameboard{
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: space-around;  
  /* font-size: 2rem; */
}

.player-info-container{
  /* margin-top: auto; */
  flex:1;
  display: flex;
  flex-direction: row;
  background-color: blue;
}


.player-info{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-info.is-current{
  background-color: greenyellow;
}


.player-score{
  margin-left: 2rem;
  color: white;
}

.TopicRow{ 
  display: flex; 
  justify-content: space-around;  
  text-align: center;
  /* border-style: solid;
  border-width: 1px;
  border-color: tomato; */
}

.TopicRow > .Topic{
  flex: 2;
  /* border-style: solid;
  border-width: 1px;
  border-color: tomato; */
}

.TopicRow > .cell-value{
  flex: 1;
  /* border-style: solid;
  border-width: 1px;
  border-color: tomato; */
  cursor: pointer;
}

.TopicRow > .cell-empty{
  flex: 1; 
}



.TopicRow > .cell-value > a{
  color: goldenrod;
  text-decoration: none;
}


.Question{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  /* font-size: 5rem; */
}

.content{
  flex:11;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.player-action-container{
  /* margin-top: auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: blue;
}


.player-action{
  font-size: 1rem;
  display: flex;
}

.pa-button{
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;

  width:5vmin;
  height: 5vmin;
}

.Registration{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 5rem; */
}

.Registration > a{
  color: goldenrod;
  text-decoration: none;
}

.plus-img{
   width:20vmin;
   height: 20vmin;
   cursor: pointer;
}

.minus-img{
  width:5vmin;
  height: 5vmin;
  margin: 0.5rem;
  cursor: pointer;
}

.disabled{
  opacity: 0.5;
}

.player-input{
  display: flex;
  align-items: center;
}



.packages-list{
  height: 75vh;
  overflow-y: auto;
}


.topics-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.topics-grid-cell{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-answer{
  cursor: pointer;
}

.player-info-container-fs{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}