:root{
  --others: #3f3f3f;

  --dark-color:#212529;
  --positive-color: #ffc107;
  --negative-color: #dc3545;
  --negative-color-light: #ffd9dc;
  --light-color:white;

  --font-size-huge:10vmin;
  --font-size-big:5vmin;
  --font-size-medium:2.5vmin;
}

html, body, #root{
  height: 100%;
  margin:0px;
}

.App {
  /* text-align: center; */
  height: 100%;
  background-color: var(--dark-color);
  color:var(--positive-color)
}

.Gameboard{
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: space-around;  
}

.player-info-container{
  /* margin-top: auto; */
  display: flex;
  flex-direction: row;
  background-color: var(--secondary);
  min-height: 4rem;
  font-size: var(--font-size-medium);
}


.player-info{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.player-info.is-current{
  border: solid thick var(--positive-color);
}

.player-name{
  margin-right: 1rem;
}

.player-score{
  color: var(--light-color);
  margin: 0 0.5rem;
}

.content{
  flex:1;
  display: flex;
  flex-direction: column;
}


.topicRow{ 
  flex:1;
  display: flex; 
}

.topicRow > .topicName{
  flex: 2;
}

.topicRow > .cell-value{
  flex: 1;
}

.topicRow > .cell-empty{
  flex: 1; 
}

.topicRow > * {
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-medium);
}



.topicRow > .cell-value > a{
  text-decoration: none;
}


.question{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  font-size: var(--font-size-huge);
}



.question > .question-title{
  margin-top: auto;
}

.question > .answer{
  text-align: center;
  margin-bottom: auto;
}

.question > .answer.hidden{
  visibility: hidden;
}

.question > button{
  width: 33vw;
  margin: 1rem 0;
}

.question > .progress{
  width: 33vw;
}


.player-action-container{
  /* margin-top: auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: blue;
}


.player-action{
  font-size: 1rem;
  display: flex;
}

.pa-button{
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;

  width: 5vmin;
  height: 5vmin;
}

.Registration{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Registration > a{
  text-decoration: none;
}

.plus-img{
   width:20vmin;
   height: 20vmin;
   cursor: pointer;
}

.minus-img{
  width:5vmin;
  height: 5vmin;
  margin: 0.5rem;
  cursor: pointer;
}

.disabled{
  opacity: 0.5;
}

.player-input{
  display: flex;
  align-items: center;
}



.packages-list{
  height: 75vh;
  overflow-y: auto;
}


.topics-table{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  font-size: var(--font-size-big);
  text-align: center;
}

.topics-table-cell{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.player-info-container-fs{
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.player-info-container-fs-grid{
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  font-size: var(--font-size-huge);
}

.player-info-container-fs a{
  width: 33vw;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.loading{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.final-round-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.final-round-topics-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-huge);
}


.pointer{
  cursor: pointer;
}

.no-decoration:hover{
  text-decoration: none;
}

.reg-label{
  color: white;
}

.round, .topic{
  font-size: var(--font-size-huge);
  text-align: center;
}

.start-game-button{
  height: 5rem;
  width: 5rem;
}


.package-source-group > *{
  color: var(--light-color) !important;
}

.btn.btn-warning{
  background-color: var(--positive-color);
  border-color: var(--positive-color);
  color: var(--dark-color);
}

.btn.btn-danger{
  background-color: var(--negative-color);
  border-color: var(--negative-color);
  color: var(--light-color);
}

.neutral{
  background-color: var(--light-color) !important;
  border-color: var(--light-color) !important;
  color: var(--dark-color) !important;
}

.player-item{
  color: var(--dark-color);
}



.player-item:hover{
  background-color: var(--negative-color-light) !important;
  border-color: var(--negative-color-light) !important;
}

.player-item.active{
  background-color: var(--negative-color) !important;
  border-color: var(--negative-color)!important;
}

.change-score-button{
  width: 2.5rem;
  height: 2.5rem;
}
